body {
  background-color: #909590;
}
.header {
  font-size: 100px;
  text-align: center;
  align-self: center;
  padding: 50 50 80 50;
  margin: 50px auto 50px auto;
  position: relative;
  background-color: #9ae19d;
  box-shadow: 15px 15px #537a5a;
  animation-name: test;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: flex-start;
  flex-wrap: wrap;
}
.box {
  width: 25%;
  box-shadow: 15px 15px #2c302e;
  margin: 50px auto;
  border: solid 10px #537a5a;
  padding: 50 50 50 50;
  justify-content: space-evenly;
  animation: fade;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.box:hover {
  border: solid 10px #9ae19d;
  background-color: #d1ffd9;
}
.box:hover > p {
  transition: all 1s;
  transform: scale(1.1);
  opacity: 1;
}
.box:hover > .text {
  transition: all 1s;
  transform: scale(1.1);
}

.img {
  width: 100%;
  border: solid 10px #537a5a;
}
.text {
  font-size: 2rem;
  text-align: center;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes test {
  0% {
    background-color: #d1ffd9;
    left: 0px;
    top: 0px;
    box-shadow: 15px 15px #537a5a;
  }
  25% {
    background-color: #9fc2a5;
    left: 10px;
    top: 0px;
    box-shadow: 15px 15px #324936;
  }
  50% {
    background-color: #3d4b40;
    left: 10px;
    top: 10px;
    box-shadow: 15px 15px #2c302e;
  }
  75% {
    background-color: #9fc2a5;
    left: 0px;
    top: 10px;
    box-shadow: 15px 15px #324936;
  }
  100% {
    font-size: 100px;
    background-color: #d1ffd9;
    left: 0px;
    top: 0px;
    box-shadow: 15px 15px #537a5a;
  }
}
.plains:hover {
  transform: translateY(50px);
  transition-duration: 1s;
}
.forest:hover {
  transform: rotate(1turn);
  transition-duration: 2s;
}
.jungle:hover {
  transform: scale(0.9);
  transition-duration: 1s;
}
.mountain:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}
p {
  font-size: 1rem;
  text-align: center;
  opacity: 0;
}
div {
  background-color: #9ae19d;
}
h1,
h2 {
  font-family: "Minecraft", sans-serif;
}
